@model IEnumerable<NovoVivoCaminho.Models.Dizimos>

@{
    ViewBag.Title = "Dizimos e Ofertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dizimos e Ofertas</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table table-hover table-striped table-bordered text-center">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Membros.Nome)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th class="text-center">
            Opções
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Membros.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @*@Html.ActionLink("Detalhe", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-xs", type = "button" })*@
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-warning btn-xs", type = "button" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-xs", type = "button" })
            </td>
        </tr>
    }

</table>
