@model IEnumerable<NovoVivoCaminho.Models.Usuarios>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table table-hover table-striped table-bordered text-center">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Login)
        </th>
        @*<th class="text-center">
                @Html.DisplayNameFor(model => model.Senha)
            </th>*@
        <th class="text-center">
            @Html.DisplayName("Inserido")
        </th>
        <th class="text-center">
            @Html.DisplayName("Atualização")
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th class="text-center">
            @Html.DisplayName("Igreja")
        </th>
        <th class="text-center"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAtualizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Igrejas.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-warning btn-xs", type = "button" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-xs", type = "button" })
            </td>
        </tr>
    }

</table>
